div.body {
    margin-left: 10%;
    margin-right: 10%;
    background: #EEEEEE;
    padding: 20px 2em;
    padding-bottom: 50px;
}

div.header {
    margin-left: 10%;
    margin-right: 10%;
    padding: 3px 5px;
    background-color: orange;

    overflow: auto; /* accomodate the floats */
}

a {
    text-decoration: none;
    color: black;
}

.sep {
    font-weight: bold;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.brand {
    float: left;
    margin-right: 3px;
    font-weight: bold;
    font-size: 20px;
    text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
}

div.header a {
    margin-left: 0.25em;
    margin-right: 0.25em;
}

div.header-left {
    margin-top: 3px;
    margin-bottom: 3px;
    float: left;
}

div.header-right {
    margin-top: 3px;
    margin-bottom: 3px;
    float: right;
}


.header-menu li {
    display: inline;
    margin-right: 2em;
    margin-left: 1em;
}

.header-menu {
    background-color: #DDDDDD;
}
